@import url("https://fonts.googleapis.com/css?family=Oswald|Noto+Sans");

.aboutpanel {
    width: 1000px;
    height: 500px;
    background-image: url("./images/about.jpg");
    background-size: 1000px auto;
    background-repeat: no-repeat;
    position: relative;
}

.aboutbox {
    position: absolute;
    width: 1000px;
    height: 500px;
    /* background-color: #408CCC;*/
    display: flex;
    justify-content: center;
}

.abouttext {
    width: 80%;
    padding-top: 50px;
    font-family: Oswald, sans-serif;
    font-size: 1.2em;
}

@media only screen and (max-width: 991px) {

    .aboutbox {
        width: 100%;
    }

    .abouttext {
        width: 90%;
        padding-top: 20px;
    }
    .aboutpanel {
        height: 550px;
    }
    .aboutpanel {
        background-position: -500px 0px;
    }
}