@import url("https://fonts.googleapis.com/css?family=Oswald|Noto+Sans");

.appointmentpanel {
    width: 1000px;
    position: relative;
    background-color: white;
    font-family: Oswald, sans-serif;
}

.appointment-radio {
    width: 100%;
    display: flex;
    justify-content: center;
}

.appointmentinput {
    display: flex;
    justify-content: center;
}

.appointmenttime {
    width: 200px;
}

.buttontime {
    text-align: center;
    background-color: #408CCC;
    border-radius: 5px;
    margin: 5px 0px;
    opacity: 0.8;
    cursor: pointer;
}

.buttontimenot {
    width: 80px;
}

.buttontimenot:hover {
    width: 100px;
    transition: width 0.2s;
}

.buttontimeselected {
    width: 100px;
}

.inputtext {
    width: 250px;
}

#bocknow-button {
    width: 90%;
    display: flex;
    justify-content: center;
}

#bocknow-button > button {
    color: white;
    background-color: #408CCC;
    border: none;
}

@media only screen and (max-width: 991px) {
    .appointment-radio {display: block;} 
    .inputtext {
        width: 90%;
    }
    #bocknow-button {
        width: 100%;
    }
}