.registerpanel {
    width: 1000px;
    position: relative;
    background-color: white;
    font-family: Oswald, sans-serif;
}

.green {
    border: solid 2px green;
}

#myappointments {
    width: 100px;
}

.hidereviewinput {
    display: none;
}

.showreviewinput {
    display: flex; 
    justify-content: "center";
}

  