.shopimage {
    width: 400px;
    height: 200px;
    background-size: 400px auto;
    margin: 20px 20px 0px 20px; 
}

.shopquebec {background-image: url("./images/shopquebec.jpg");}
.shophalifax {background-image: url("./images/shophalifax.jpg");}
.shopusa {background-image: url("./images/shopusa.jpg");}
.shopmex {background-image: url("./images/shopmex.jpg");}

.ourshopstext {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 20px 20px 0px 0px; 
}