.servicespanel {
    font-family: Oswald, sans-serif;
    width: 1000px;
    display: flex;
    background-color: white;
}

.image {
    width: 100%;
    height: 300px;
    background-size: 400px auto;
    background-position: center;
    background-repeat: no-repeat;
}

.paint {background-image: url("./paint.jpg");}
.anti {background-image: url("./antirouille.jpg");}
.alineacion {background-image: url("./alineacion.jpg");}
.brake {background-image: url("./brake.jpg");}
.suspension {background-image: url("./suspension.jpg");}
.mechanic {background-image: url("./mechanic.jpg");}

.servicestextbox {
    width: 400px;
    padding: 0px 50px;
    color: gray;
}

.servicestext {
    width: 400px;
}