.servicespanel {
    font-family: Oswald, sans-serif;
    width: 1000px;
    display: flex;
    background-color: white;
}

.image {
    width: 100%;
    height: 300px;
    background-size: 400px auto;
    background-position: center;
    background-repeat: no-repeat;
}

.paint {background-image: url("./images/paint.jpg");}
.anti {background-image: url("./images/antirouille.jpg");}
.alineacion {background-image: url("./images/alineacion.jpg");}
.brake {background-image: url("./images/brake.jpg");}
.suspension {background-image: url("./images/suspension.jpg");}
.mechanic {background-image: url("./images/mechanic.jpg");}

.servicestextbox {
    
    padding: 0px 50px;
    color: gray;
}

@media only screen and (max-width: 991px) {
    .servicestextbox {
        padding: 0px;
    }
    .services-title {
        width: 100%;
        text-align: center;
    }
}
